
@import 'ngx-toastr/toastr';
.example-full-width{
    width: 95%
}

.frontPage{
    width: 60%;
    margin-left:20%;
    margin-top: 1%;
}
.header{
    text-align: center;
    display: inline;
    color: blue;
    margin-left: 30%;
}

.filler {
    width: 15%;
}
mat-grid-list {
    width: 100%;
}